@model PostViewModel
@{
  int count = Model.Topics.Count() - 1;
}

<div class="post-main">
  <div class="post-header">
    <div class="user">
        @if (Model.ProfilePicURL == null)
        {
          <img src="~/img/pfp.gif" class="pfp">
        }
        else
        {
          <img src="@Model.ProfilePicURL" class="pfp">
        }
        <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId"><p class="username">@Model.UserName</p></a>
    </div>
    <div class="post-actions">
      @if (Model.Editable)
      {
        @Html.ActionLink("Edit", "Edit", "Posts", new { id = Model.PostId }, new { @class = "btn" })
        <form asp-action="Delete" asp-controller="Posts" class="hidden-form" asp-route-id="@Model.PostId" method="post">
          <button class="btn form-btn" type="submit">Delete</button>
        </form>
      }
      else
      {
        <div class="hidden-form">

        </div>
      }
    </div>
  </div>
  <hr />
  <div class="post-body">
    <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId">
    <p>@Model.Body</p>
    </a>
  </div>
  <hr />
  <div class="post-details">
    <p>posted in <a asp-controller="Topics" asp-action="Details" asp-route-id="@Model.Topics.First().TopicId">@Model.Topics.First().Title</a> and @count more</p>
    <p>@Model.DatePosted.ToString("dd/MM/HH:mm:ss")
      @if (Model.DateEdited != null)
      {
        <span> | edit @Model.DateEdited?.ToString("dd/MM/HH:mm:ss")</span>
      }
    </p>
  </div>
</div>
