@model PostViewModel
@{
  string summary = new(Model.Body.Take(16).ToArray());
  int count = Model.Topics.Count - 1;
}
<div class="post-main">
  <div class="post-header">
    <div class="user">
      @if (Model.ProfilePicURL == null)
      {
        <img src="~/img/pfp.gif" class="pfp">
      }
      else
      {
        <img src="@Model.ProfilePicURL" class="pfp">
      }
      <p class="username">@Model.UserName</p>
    </div>
    <a class="post-link" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId">
      <p>@summary...</p>
    </a>
  </div>
  <div class="post-details">
    <p>posted in <a asp-controller="Topics" asp-action="Details" asp-route-id="@Model.Topics.First().TopicId">@Model.Topics.First().Title</a> and @count more</p>
  </div>
</div>
