@model PostForumViewModel
@{
  string buttonText = "Post";
  string action = "Create";
  if (Model.Edit)
  {
    buttonText = "Save";
    action = "Edit";
  }
}

<h1 class="decor">@action Post</h1>
<hr />
@using (Html.BeginForm())
{
  @if(Model.Edit){
    @Html.HiddenFor(m => m.PostId)
  }
  @Html.LabelFor(m => m.PostBody)
  <br />
  @Html.TextAreaFor(m => m.PostBody)
  <br />
  @if(Model.TopicOptions.Any())
  {
    @Html.LabelFor(m => m.TopicOptions)
    <br />
    <select asp-for="@Model.SelectedTopics" asp-items="@Model.TopicOptions">
    </select>
  }
  <br />
  @Html.LabelFor(m => m.NewTopic)
  @Html.TextBoxFor(m => m.NewTopic)
  <br />
  <button type="submit" class="btn">@buttonText</button>
}
